<a href="https://colab.research.google.com/github/jeffiThomas/IoTAgricultureProject/blob/main/notebooks%5CloadAndMerge01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os

os.listdir('/content/drive/MyDrive/IoTAgricultureProject')

['data', 'notebooks']

In [5]:
import os

data_path = "/content/drive/MyDrive/IoTAgricultureProject/data/"
os.listdir(data_path)

['Solar Panel Battery Voltage.xlsx',
 'Environment Light Intensity.xlsx',
 'Water TDS.xlsx',
 'Soil pH.xlsx',
 'Environment Humidity.xlsx',
 'Soil Moisture.xlsx',
 'Environment Temperature.xlsx',
 'Soil Temperature.xlsx']

In [6]:
import pandas as pd

env_humidity = pd.read_excel(data_path + "Environment Humidity.xlsx")
env_light = pd.read_excel(data_path + "Environment Light Intensity.xlsx")
env_temp = pd.read_excel(data_path + "Environment Temperature.xlsx")

soil_moisture = pd.read_excel(data_path + "Soil Moisture.xlsx")
soil_ph = pd.read_excel(data_path + "Soil pH.xlsx")
soil_temp = pd.read_excel(data_path + "Soil Temperature.xlsx")

solar_voltage = pd.read_excel(data_path + "Solar Panel Battery Voltage.xlsx")
water_tds = pd.read_excel(data_path + "Water TDS.xlsx")

In [7]:
env_humidity.head()

        Environment Humidity Unnamed: 1           Unnamed: 2
0        Date & Time Created   Entry_id  Measurement Unit(%)
1  2024-09-27 12:58:10 +0530       2245                   95
2  2024-09-27 12:58:28 +0530       2246                   95
3  2024-09-27 12:59:03 +0530       2247                   95
4  2024-09-27 12:59:22 +0530       2248                   95

In [8]:
env_light.head()
env_temp

       Environment Temperature Unnamed: 1                        Unnamed: 2
0          Date & Time Created   Entry_id  Measurement Unit(Degree Celsius)
1    2024-09-27 12:58:10 +0530       2245                              26.2
2    2024-09-27 12:58:28 +0530       2246                              26.2
3    2024-09-27 12:59:03 +0530       2247                              26.2
4    2024-09-27 12:59:22 +0530       2248                              26.2
..                         ...        ...                               ...
96   2024-09-27 13:27:19 +0530       2340                              26.7
97   2024-09-27 13:27:37 +0530       2341                              26.7
98   2024-09-27 13:27:55 +0530       2342                              26.7
99   2024-09-27 13:28:13 +0530       2343                              26.7
100  2024-09-27 13:28:26 +0530       2344                              26.7

[101 rows x 3 columns]

In [9]:
print(env_humidity.columns)
print(env_light.columns)
print(env_temp.columns)

print(soil_moisture.columns)
print(soil_ph.columns)
print(soil_temp.columns)

print(solar_voltage.columns)
print(water_tds.columns)

Index(['Environment Humidity', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')
Index(['Environment Light Intensity', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')
Index(['Environment Temperature', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')
Index(['Soil Moisture', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')
Index(['Soil pH', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')
Index(['Soil Temperature', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')
Index(['Solar Panel Battery Voltage', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')
Index(['Water TDS', 'Unnamed: 1', 'Unnamed: 2'], dtype='object')

In [11]:
test = pd.read_excel(
    data_path + "Environment Temperature.xlsx",
    header=1
)

test.head()

         Date & Time Created  Entry_id  Measurement Unit(Degree Celsius)
0  2024-09-27 12:58:10 +0530      2245                              26.2
1  2024-09-27 12:58:28 +0530      2246                              26.2
2  2024-09-27 12:59:03 +0530      2247                              26.2
3  2024-09-27 12:59:22 +0530      2248                              26.2
4  2024-09-27 12:59:45 +0530      2249                              26.2

In [12]:
def load_sensor_excel(filename, value_col_name):
    df = pd.read_excel(data_path + filename, header=1)

    # standardize timestamp
    timestamp_col = None
    if 'Date & Time Created' in df.columns:
        timestamp_col = 'Date & Time Created'
    elif 'Date & Time of Creation' in df.columns:
        timestamp_col = 'Date & Time of Creation'
    else:
        raise KeyError(f"No recognized timestamp column found in {filename}. Columns found: {df.columns.tolist()}")

    df["timestamp"] = pd.to_datetime(df[timestamp_col])
    df = df.sort_values("timestamp")

    # keep only what we need
    df = df[["timestamp", value_col_name]]

    return df

In [13]:
env_temp = load_sensor_excel(
    "Environment Temperature.xlsx",
    "Measurement Unit(Degree Celsius)"
)

env_humidity = load_sensor_excel(
    "Environment Humidity.xlsx",
    "Measurement Unit(%)"
)

env_light = load_sensor_excel(
    "Environment Light Intensity.xlsx",
    "Mesaurement Unit(Lux)"
)

soil_moisture = load_sensor_excel(
    "Soil Moisture.xlsx",
    "Measurement Unit(%)"
)

soil_ph = load_sensor_excel(
    "Soil pH.xlsx",
    "Measurement Unit (pH)"
)

soil_temp = load_sensor_excel(
    "Soil Temperature.xlsx",
    "Measurement Unit(Degree Celsius)"
)

solar_voltage = load_sensor_excel(
    "Solar Panel Battery Voltage.xlsx",
    "Measurement Unit(Volts)"
)

water_tds = load_sensor_excel(
    "Water TDS.xlsx",
    "Measurement Unit(mg/L)"
)

In [14]:
solar_voltage.head()

                  timestamp  Measurement Unit(Volts)
0 2024-09-27 12:58:10+05:30                    3.550
1 2024-09-27 12:58:28+05:30                    3.552
2 2024-09-27 12:59:03+05:30                    3.554
3 2024-09-27 12:59:22+05:30                    3.556
4 2024-09-27 12:59:45+05:30                    3.557

In [15]:
#merge into one
df = env_temp \
    .merge(env_humidity, on="timestamp", how="inner") \
    .merge(env_light, on="timestamp", how="inner") \
    .merge(soil_moisture, on="timestamp", how="inner") \
    .merge(soil_ph, on="timestamp", how="inner") \
    .merge(soil_temp, on="timestamp", how="inner") \
    .merge(solar_voltage, on="timestamp", how="inner") \
    .merge(water_tds, on="timestamp", how="inner")

In [16]:
df.head()

,timestamp,Measurement Unit(Degree Celsius)_x,Measurement Unit(%)_x,Mesaurement Unit(Lux),Measurement Unit(%)_y,Measurement Unit (pH),Measurement Unit(Degree Celsius)_y,Measurement Unit(Volts),Measurement Unit(mg/L)
0,2024-09-27 12:58:10+05:30,26.2,95,50.83,61.88,6.1,18.1,3.550,130.68
1,2024-09-27 12:58:28+05:30,26.2,95,36.67,61.58,6.1,18.1,3.552,128.89
2,2024-09-27 12:59:03+05:30,26.2,95,39.17,61.88,6.1,18.1,3.554,128.89
3,2024-09-27 12:59:22+05:30,26.2,95,39.17,59.24,6.1,18.1,3.556,155.42
4,2024-09-27 12:59:45+05:30,26.2,95,30.83,31.48,6.1,18.1,3.557,130.68

In [17]:
column_rename_map = {
    'Measurement Unit(Degree Celsius)_x': 'Environment Temperature (Celsius)',
    'Measurement Unit(%)_x': 'Environment Humidity (%)',
    'Mesaurement Unit(Lux)': 'Environment Light Intensity (Lux)',
    'Measurement Unit(%)_y': 'Soil Moisture (%)',
    'Measurement Unit (pH)': 'Soil pH (pH)',
    'Measurement Unit(Degree Celsius)_y': 'Soil Temperature (Celsius)',
    'Measurement Unit(Volts)': 'Solar Panel Battery Voltage (Volts)',
    'Measurement Unit(mg/L)': 'Water TDS (mg/L)'
}

df = df.rename(columns=column_rename_map)
display(df.head())

,timestamp,Environment Temperature (Celsius),Environment Humidity (%),Environment Light Intensity (Lux),Soil Moisture (%),Soil pH (pH),Soil Temperature (Celsius),Solar Panel Battery Voltage (Volts),Water TDS (mg/L)
0,2024-09-27 12:58:10+05:30,26.2,95,50.83,61.88,6.1,18.1,3.550,130.68
1,2024-09-27 12:58:28+05:30,26.2,95,36.67,61.58,6.1,18.1,3.552,128.89
2,2024-09-27 12:59:03+05:30,26.2,95,39.17,61.88,6.1,18.1,3.554,128.89
3,2024-09-27 12:59:22+05:30,26.2,95,39.17,59.24,6.1,18.1,3.556,155.42
4,2024-09-27 12:59:45+05:30,26.2,95,30.83,31.48,6.1,18.1,3.557,130.68

In [18]:
df.describe()

,Environment Temperature (Celsius),Environment Humidity (%),Environment Light Intensity (Lux),Soil Moisture (%),Soil pH (pH),Soil Temperature (Celsius),Solar Panel Battery Voltage (Volts),Water TDS (mg/L)
count,99.000000,99.0,99.000000,99.000000,9.900000e+01,99.000000,99.000000,99.000000
mean,26.338384,95.0,43.195051,60.897677,6.100000e+00,18.142424,3.629111,118.492727
std,0.227993,0.0,13.923636,8.484388,1.160508e-14,0.049674,0.047936,14.068456
min,26.100000,95.0,14.170000,0.910000,6.100000e+00,18.100000,3.550000,0.510000
25%,26.100000,95.0,30.830000,61.580000,6.100000e+00,18.100000,3.588000,116.290000
50%,26.300000,95.0,43.330000,62.950000,6.100000e+00,18.100000,3.628000,119.910000
75%,26.500000,95.0,55.415000,63.640000,6.100000e+00,18.200000,3.668000,123.510000
max,26.900000,95.0,71.670000,64.220000,6.100000e+00,18.200000,3.717000,155.420000

The dataframe `df` is saveed to a Parquet file in our `IoTAgricultureProject/data` folder.

In [19]:
output_file_path = data_path + "merged_iot_data.parquet"
df.to_parquet(output_file_path, index=False)
print(f"DataFrame saved to: {output_file_path}")

DataFrame saved to: /content/drive/MyDrive/IoTAgricultureProject/data/merged_iot_data.parquet

Now, in any other Colab notebook, we can  load this Parquet file directly into a DataFrame using this:

In [ ]:
# In another notebook:
# from google.colab import drive
# drive.mount('/content/drive')
# import pandas as pd

# data_path = "/content/drive/MyDrive/IoTAgricultureProject/data/"
# loaded_df = pd.read_parquet(data_path + "merged_iot_data.parquet")
# display(loaded_df.head())